{include file='header' /}
<!--添加角色页面-->
<form enctype="multipart/form-data" style="margin-top: 30px;font-size: 17px;margin-left: 53px" id="sub_auth">
    <input type="hidden" value="{$data}" id="all_auth">
    <input type="hidden" value="{$auth}" id="selected_auth">
    <div class="layui-form-item">
        <tr>
            <label class="layui-form-label bg-success text-center" style="width: 100px">角色</label>
            <td>
                <input type="text" placeholder="请输入添加的角色" class="form-control"
                       style="width: 230px;float: left;font-size: 16px;margin-left: 20px" name="role_name"
                       id="role_name">
            </td>
        </tr>
    </div>

    <div>
        <label class="layui-form-label bg-success text-center" style="width: 100px">所选权限</label>
        <div id="select_auth" style="margin-left: 110px"></div>
        <input type="hidden" name="admin_auth" value="" id="admin_auth">
    </div>

    <div class="layui-form-item">
        <tr>
            <label class="layui-form-label"></label>
            <td>
                <button type="button" class="btn-primary btn-sm" onclick="role.prototype.subRole(this)"
                        data-url="{:url('admin/subAddRole')}" style="margin-left: 41px;margin-top: 30px">
                    立即添加
                </button>
            </td>
        </tr>
    </div>
</form>
<script src="__ADMIN__/role/role.js"></script>
<script>
    role.prototype.init();
</script>
