{extend name="index/index" /}

{block name="main"}
<!--修改用户页面-->
<form  enctype="multipart/form-data"  style="margin-top: 30px;font-size: 17px;margin-left: 60px"
        method="post" id="form_admin_up">
        <input type="hidden" value="{$admin_id}" name="admin_id">
        <div class="layui-form-item">
           <tr>
              <label class="layui-form-label bg-success " style="width: 100px;text-align: center">用户名</label>
              <td>
               <input type="text" name="admin_name"  placeholder="请输入用户名" autocomplete="off" class="form-control" style="width: 230px;margin-left: 120px;height: 38px" value="{$data.admin_name}">
              </td>
           </tr>
        </div>
        <div class="layui-form-item">
           <label class="layui-form-label bg-success" style="width: 100px;text-align: center">用户身份</label>
           <div class="layui-input-block" style="width: 130px;margin-left: 121px">
             <select name="auth" id="getAuth">
               <option value="0">请选择</option>
               {foreach $auth as $k => $v}
               <option value="{$k}" {if $role_id==$k}selected{else/}{/if}>{$v}</option>
               {/foreach}
             </select>
           </div>
        </div>
        <div class="layui-form-item">
           <tr style="padding-top: 30px">
             <label class="layui-form-label bg-info" style="width: 100px;text-align: center">用户头像</label>
               <div class="layui-input-block" style="margin-left: 121px">
                   <img src="{$data.admin_image}" alt="" style="width: 50px;height: 38px" id="preview_img">
                   <button type="button" class="layui-btn" id="upload_img">
                       <i class="layui-icon">&#xe67c;</i><span>上传图片</span>
                   </button>
                   <input type="hidden" name="admin_image" value="{$data.admin_image}" id="admin_img">
               </div>
           </tr>
        </div>
        <div class="layui-form-item">
           <tr>
              <label class="layui-form-label bg-danger" style="width: 100px;text-align: center">密码</label>
              <td>
               <input type="password" name="admin_pwd"  placeholder="请输入密码" autocomplete="off" class="form-control" style="width: 230px;margin-left: 120px;height: 38px" value="{$data.admin_pwd}">
              </td>
           </tr>
        </div>
        <div class="layui-form-item">
           <tr>
              <label class="layui-form-label bg-danger" style="width: 100px;text-align: center">确认密码</label>
              <td>
               <input type="password" name="admin_repwd"  placeholder="请输入确认密码" autocomplete="off" class="form-control" style="width: 230px;margin-left: 120px;height: 38px" value="">
              </td>
           </tr>
        </div>
        <div class="layui-form-item">
           <tr>
              <label class="layui-form-label bg-warning" style="width: 100px;text-align: center">邮箱</label>
              <td>
               <input type="text" name="admin_email"  placeholder="请输入邮箱" autocomplete="off" class="form-control" style="width: 230px;margin-left: 120px;height: 38px" value="{$data.admin_email}">
              </td>
           </tr>
        </div>
        <div class="layui-form-item">
           <tr>
              <label class="layui-form-label"></label>
              <td>
               <button type="button" class="btn-sm btn-primary" id="up_admin" style="margin-top: 16px;margin-left: 41px" data-id="{$admin_id}">立即提交
               </button>
              </td>
           </tr>
        </div>
</form>
<script src="__ADMIN__/user/user.js"></script>
<script>
    user.prototype.init();
</script>

{/block}

