{extend name="article/articleIndex" /}
<body>
<!--top begin-->
</div>
<!--top end-->
<article>
    {block name="mid_part"}
    <!--lbox begin-->
    <div class="lbox">
        <div class="content_box whitebg">
            <h1 class="con_tilte">{$article_info['article_title']}</h1>
            <p class="con_info"><b><span style="font-size: 20px">简介:</span> <span>{$article_info['article_desc']}</span></b></p>
            <div class="con_text">
                {$article_info['article_content']| raw}
                <p class="share"><b>转载：</b>感谢您对Carver个人博客网站平台的认可，但转载请说明文章出处“来源Carver个人博客”
                </p>
                <p><span class="diggit"><a href="javascript:void(0)" class="click_prize"
                                           click-text="{$article_info['article_id']}"><span
                        class="glyphicon glyphicon-thumbs-up"></span></a>&nbsp;&nbsp;( <span class="click_num">{$article_info['click_num']}</span> )</span>
                </p>
                <div class="nextinfo">
                    <p>上一篇：<a href="javascript:void (0)">{$pre_article}</a></p>
                    <p>下一篇：<a href="javascript:void (0)">{$next_article}</a></p>
                </div>
            </div>
        </div>
        <div class="whitebg gbook" art_id="{$article_info['article_id']}" id="article_info">
            <textarea name="publish_content" required lay-verify="required" placeholder="请先登录后发布评论..."
                      class="layui-textarea"></textarea>
            <button class="layui-btn layui-btn-radius layui-btn-normal" style="float: right;margin-top: 5px"
                    id="publish_btn">发布
            </button>
            <h2 class="htitle" style="margin-top: 30px">文章评论</h2>
            <input type="hidden" value="{$Request.session.user_name}" class="is_login">
            <ul class="comment_list">
                {empty name="comments"}
                暂时没有更多评论...
                {else /}
                {foreach $comments as $key => $value}
                <li>
                <li class="layui-timeline-item per_comment">
                    <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                    <div class="layui-timeline-content layui-text">
                        <h3 class="layui-timeline-title"><b>{$value.user_name}</b>&nbsp;<a href="javascript:void(0)"
                                                                                           class="tip_people"
                                                                                           user-info="{$value.user_id}"
                                                                                           style="color: steelblue"
                                                                                           comment-id="{$value.comment_id}">回复</a>
                        </h3>
                        <p>
                            {$value.comment_content} <span style="float: right"><b>{$value.create_time | date="Y-m-d H:i"}</b></span>
                        </p>
                        <textarea placeholder="请先登录后回复评论..." rows="3" cols="30" class="comment_click"
                                  style="display: none"></textarea>
                        <button class="layui-btn layui-btn-radius layui-btn-primary" id="publish" style="display: none">
                            点击回复
                        </button>
                    </div>
                </li>

                <br>
                {empty name="value.son"}
                <!--一级评论-->
                {foreach $value.son as $ks => $vs}

                <li class="per_comment">
                    <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                    <div class="layui-timeline-content layui-text">
                        <h3 class="layui-timeline-title"><b>{$value.user_name}</b>&nbsp;<a href="javascript:void(0)"
                                                                                           class="tip_people"
                                                                                           user-info="{$value.user_id}"
                                                                                           style="color: steelblue"
                                                                                           comment-id="{$value.comment_id}">回复</a>
                        </h3>
                        <p>
                            {$vs.comment_to_content}<span
                                style="float: right"><b>{$vs.create_time | date="Y-m-d H:i"}</b></span>
                        </p>
                        <textarea placeholder="请先登录后回复评论..." rows="3" cols="30" class="comment_click"
                                  style="display: none"></textarea>
                        <button class="layui-btn layui-btn-radius layui-btn-primary" id="publish" style="display: none">
                            点击回复
                        </button>
                    </div>
                </li>

                {/foreach}

                {else /}
                <!--存在多级评论-->
                {foreach $value.son as $k => $v}
                <li class="per_comment">
                    <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                    <div class="layui-timeline-content layui-text">
                        <h3 class="layui-timeline-title"><b>
                            {$v.user_name} @
                            {$user_all[$v.comment_to_user_id]}</b>&nbsp;&nbsp;<a href="javascript:void(0)"
                                                                                 class="tip_people"
                                                                                 user-info="{$v.comment_user_id}"
                                                                                 style="color: steelblue"
                                                                                 comment-id="{$value.comment_id}">回复</a>
                        </h3>
                        <p>
                            <br>
                            {$v.comment_to_content} <span
                                style="float: right"><b>{$v.create_time | date="Y-m-d H:i"}</b></span>
                            <br>
                        </p>
                        <textarea placeholder="请先登录后回复评论..." rows="3" cols="30" class="comment_click"
                                  style="display: none"></textarea>
                        <button class="layui-btn layui-btn-radius layui-btn-primary" id="publish" style="display: none">
                            点击回复
                        </button>
                    </div>
                </li>

                {/foreach}

                {/empty}
                </li>
                {/foreach}
                {/empty}

            </ul>
        </div>
    </div>
    <script src="__ADMIN__/headdata/js/jquery-1.8.3.min.js"></script>
    <script>
        layui.use('layer', function () {
            //发布评论
            $(document).on("click", "#publish_btn", function () {
                var isLogin = $(".is_login").val();
                if (isLogin) {
                    var publish_content = $("[name='publish_content']").val();
                    if (publish_content == '') {
                        layer.msg("品论不能为空~", {icon: -5, time: 1500});
                        return false;
                    }
                    var article_id = $("#article_info").attr("art_id");
                    $.ajax({
                        url: '/web/ArticleUser/addComment',
                        data: {article_id: article_id, comment_content: publish_content},
                        type: "post",
                        dataType: "json",
                        success: function (req) {
                            layer.msg(req['msg'], {icon: -1, time: 1500}, function () {
                                window.location.reload();
                            });
                        }
                    })
                } else {
                    layer.msg("请先登录!", {icon: 5, time: 1500});
                }
            });

            //回复评论
            $(document).on("click", ".per_comment div h3 .tip_people", function () {
                $(this).parent("h3").siblings(".comment_click").toggle();//发布的评论内容
                $(this).parent("h3").siblings("#publish").toggle();//发布评论的按钮

                var user_id = $(this).attr("user-info");//用户id
                var article_id = $("#article_info").attr("art_id");//文章id
                var comment_id = $(this).attr("comment-id");//评论id

                $(this).parent("h3").siblings("#publish").click(function () {
                    var comment_contents = $(this).siblings(".comment_click").val();//被回复的内容
                    if (comment_contents == '') {
                        layer.msg("回复的内容不能为空~", {icon: -5, time: 1500});
                        return false;
                    }
                    $.ajax({
                        url: '/web/ArticleUser/searchRepeatUser',
                        data: {
                            article_id: article_id,
                            user_id: user_id,
                            comment_content: comment_contents,
                            comment_id: comment_id
                        },
                        type: "post",
                        dataType: "json",
                        success: function (req) {
                            if (req['code'] == 1) {
                                layer.msg(req['msg'], {icon: -1, time: 1500}, function () {
                                    window.location.reload();
                                });
                            } else {
                                layer.msg(req['msg'], {icon: 5, time: 1500}, function () {
                                    window.location.reload();
                                });
                            }

                        }
                    })
                })

            })


            //点赞
            $(document).on("click", ".click_prize", function () {
                var article_id = $(this).attr("click-text");
                var keyClick=Date.parse(new Date())/1000;//当前时间戳

                $.ajax({
                    url: '/web/ArticleUser/clickPrize',
                    data: {
                        article_id: article_id,
                        key_time:keyClick
                    },
                    type: "get",
                    dataType: "json",
                    success: function (req) {
                        if (req['code'] == 1) {
                            var oldClick = $(".click_prize").siblings(".click_num").html();//旧的点击量
                            var newClick = parseInt(oldClick) + 1;
                            $(".click_prize").siblings(".click_num").html(newClick);//新的点击量
                            layer.msg(req['msg'], {icon: -1, time: 1500});
                        } else {
                            layer.msg(req['msg'], {icon: 5, time: 1500});
                        }

                    }
                })
            })
        });


    </script>
    {/block}

    {block name='card'}

    {/block}

    {block name='click_part'}
    <div class="whitebg paihang">
        <h2 class="htitle">点击排行</h2>
        <section class="topnews imgscale"><a href="info.html"><img
                src="__ADMIN__/headdata/images/h1.jpg"><span>php手把手教你，点击试试看
      </span></a></section>
        <ul>
            {foreach $click_articles as $k => $v}
            <li><i></i><a
                    href="{:url('ArticleUser/articleDetail')}?article_id={$v['article_id']}">{$v['article_title']}</a>
            </li>
            {/foreach}
        </ul>
    </div>
    {/block}

    {block name='tag'}
    <div class="whitebg cloud">
        <h2 class="htitle">标签云</h2>
        <ul>
            {foreach $label as $k => $v}
            <a href="{:url('ArticleUser/searchArticleLabel')}?label={$v}">{$v}</a>
            {/foreach}

        </ul>
    </div>
    {/block}
</article>
<footer>
    <div class="box">
        <div class="endnav">
            <p><b>关于我们</b></p>
        </div>
    </div>
    <a href="#">
        <div class="top"></div>
    </a></footer>
</body>
</html>

