{extend name="article/articleIndex" /}
{block name="mid_part"}
<div class="lbox">
    <!--banbox begin-->
    <div class="banbox">
        <div class="banner">
            <div id="banner" class="fader">
                {foreach $carouse as $key => $value}
                <li class="slide"><a href="javascript:void (0)"><img src="{$value['carouse_img']}"><span>{$value['carouse_desc']}</span></a>
                </li>
                {/foreach}
                <div class="fader_controls">
                    <div class="page prev" data-target="prev"></div>
                    <div class="page next" data-target="next"></div>
                    <ul class="pager_list">
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--banbox end-->
    <!--headline begin-->
    <!--    <div class="headline">-->
    <!--        <ul>-->
    <!--            <li><a href="javascript:void (0)" title="为什么说10月24日是程序员的节日？"><img src="__ADMIN__/headdata/images/h1.jpg"-->
    <!--                                                                              alt="为什么说10月24日是程序员的节日？"><span>为什么说10月24-->
    <!--          日是程序员的节日？</span></a></li>-->
    <!--            <li><a href="javascript:void (0)" title="个人网站做好了，百度不收录怎么办？来，看看他们怎么做的"><img-->
    <!--                    src="__ADMIN__/headdata/images/h2.jpg" alt="个人网站做好了，百度不收录怎么办？来，看看他们怎么做的。"><span>个人网站做好了，百度不收录怎么办？来，看看他们怎么做的。</span></a>-->
    <!--            </li>-->
    <!--        </ul>-->
    <!--    </div>-->
    <!--headline end-->
    <div class="clearblank"></div>
    <!--tab_box end-->
    <div class="whitebg bloglist">
        <h2 class="htitle">热门文章</h2>
        <ul>
            <!--多图模式 置顶设计-->
            <!--<li>-->
            <!--<h3 class="blogtitle"><a href="/" target="_blank"><b>【顶】</b>别让这些闹心的套路，毁了你的网页设计!</a></h3>-->
            <!--<span class="bplist"><a href="info.html"> <img src="__ADMIN__/headdata/images/b02.jpg" alt=""></a> <a href="info.html"><img src="__ADMIN__/headdata/images/b03.jpg" alt=""></a> <a href="info.html"><img src="__ADMIN__/headdata/images/b04.jpg" alt=""> </a><a href="info.html"><img src="images/b05.jpg" alt=""> </a></span>-->
            <!--<p class="blogtext">如图，要实现上图效果，我采用如下方法：1、首先在数据库模型，增加字段，分别是图片2，图片3。2、增加标签模板，用if，else if 来判断，输出。思路已打开，样式调用就可以多样化啦！... </p>-->
            <!--<p class="bloginfo"><i class="avatar"><img src="__ADMIN__/headdata/images/avatar.jpg"></i><span>XX</span><span>2018-10-28</span><span>【<a href="info.html">原创模板</a>】</span></p>-->
            <!--</li>-->
            <!--文章列表-->
            {foreach $articles as $key => $value}
            <li>
                <h3 class="blogtitle"><a
                        href="{:url('ArticleUser/articleDetail')}?article_id={$value['article_id']}" style="font-weight: bolder">{$value['article_title']}</a>
                </h3>
                <span class="blogpic imgscale">
            {if $value.is_top_show==1}
                            <i style="border-radius: 20px">
                              <a href="javascript:void (0)" style="text-decoration: none;font-size: 20px;color: red">【 热 】</a>
                            </i>
                        {else/}{/if}
            <a href="javascript:void (0)"
               title=""><img src="{$value['article_img']}" alt="www.lijialong.site" style="border-radius: 10px"></a>
          </span>
                <p class="blogtext desc_info" nowrap="nowrap">{$value['article_desc']}</p>
                <p class="bloginfo" style="font-size: 16px"> 作者:&nbsp;<span><b>{$value['article_author']}</b>
          </span><span style="margin-left: 30px"><i class="layui-icon layui-icon-time
" style="font-size: 16px; color: #1E9FFF;"></i> {$value['add_time']|date='Y-m-d'}<span style="margin-left: 30px">  <i
                        class="layui-icon layui-icon-unlink
" style="font-size: 16px; color: #1E9FFF;"></i>&nbsp;{$value['article_label']}</span></span></p>
                <a href="{:url('ArticleUser/articleDetail')}?article_id={$value['article_id']}"
                   class="viewmore" style='border-radius: 20px'>阅读更多</a>
                {/foreach}
            </li>
        </ul>
        <div class="pagelist">
            {$articles |raw}
        </div>
    </div>
    <!--bloglist end-->
</div>
{/block}
