{extend name="article/articleIndex" /}
{block name="mid_part"}
<div class="lbox">
    <!--banbox begin-->
    <div class="banbox">
        <div class="banner">
            <div id="banner" class="fader">
                {foreach $carouse as $key => $value}
                <li class="slide"><a href="javascript:void (0)"><img src="{$value['carouse_img']}"><span>{$value['carouse_desc']}</span></a>
                </li>
                {/foreach}
                <div class="fader_controls">
                    <div class="page prev" data-target="prev"></div>
                    <div class="page next" data-target="next"></div>
                    <ul class="pager_list">
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--banbox end-->
    <!--headline begin-->
    <!--    <div class="headline">-->
    <!--        <ul>-->
    <!--            <li><a href="javascript:void (0)" title="为什么说10月24日是程序员的节日？"><img src="__ADMIN__/headdata/images/h1.jpg"-->
    <!--                                                                              alt="为什么说10月24日是程序员的节日？"><span>为什么说10月24-->
    <!--          日是程序员的节日？</span></a></li>-->
    <!--            <li><a href="javascript:void (0)" title="个人网站做好了，百度不收录怎么办？来，看看他们怎么做的"><img-->
    <!--                    src="__ADMIN__/headdata/images/h2.jpg" alt="个人网站做好了，百度不收录怎么办？来，看看他们怎么做的。"><span>个人网站做好了，百度不收录怎么办？来，看看他们怎么做的。</span></a>-->
    <!--            </li>-->
    <!--        </ul>-->
    <!--    </div>-->
    <!--headline end-->
    <div class="clearblank"></div>
    <!--tab_box end-->
    <div class="whitebg bloglist">
            <h2 class="htitle"><i class="fa fa-file fa-lg" style="color:#0099FF"></i>&nbsp;&nbsp;热门文章</h2>
            <ul>
                {empty name='articles'}
                快去发表文章吧!
                {else/}

                {foreach $articles as $key => $value}
                <li>
                
                    <h3 class="blogtitle">
                        
                            <!--文章标题-->
                             <a href="{:url('ArticleUser/articleDetail')}?article_id={$value['article_id']}" style="font-weight: bolder">{$value['article_title']}</a>
                             
                            <p class="bloginfo" style="font-size: 16px"> 
                            
                            <!--文章作者-->
                                <span>
                                    <i class="fa fa-user-circle fa-lg" style="color:#337ab7"></i>&nbsp;<span><b style="color:black">{$value['article_author']}</b>
                                </span>
                            
                            <!--发布时间-->
                                <span style="margin-left: 60px">
              
                                    <i class="fa fa-calendar fa-lg" style="color:#337ab7"></i>&nbsp;&nbsp;<b style="color:black">{$value['add_time']|date='Y-m-d'}</b>
                                </span>
                                
                                <!--文章标签-->
                                <span style="margin-left: 60px">  
                                    <i class="fa fa-tags" style="color:#337ab7"></i>&nbsp;
                                      
                                      {foreach $value['article_label'] as $labelKey => $labelValue}
                                      
                                      <button type="button" class="btn btn-primary btn-sm">{$labelValue}</button>
                                      
                                      
                                      {/foreach}
                                 
                                </span>
                                
                                <!--文章点击量-->
                                <span style="margin-left: 85px">
                                    <i class="fa fa-thumbs-o-up fa-lg" style="color:#337ab7"></i> &nbsp;&nbsp;<b style="color:black">{$value['click_num']}</b>
                                </span>
                                
                            </p>
                             
                     </h3>
                    
                    <span class="blogpic imgscale">
                        {if $value.is_top_show==1}
                            <i style="border-radius: 20px">
                              <a href="javascript:void (0)" style="text-decoration: none;font-size: 20px;color: red">【 热 】</a>
                            </i>
                        {else/}{/if}
                <!--文章封面-->
                 <a href="javascript:void (0)" title=""><img src="{$value['article_img']}" alt="www.lijialong.site" style="border-radius: 10px">
                 </a>
          </span>
                    <p class="blogtext desc_info" nowrap="nowrap">{$value['article_desc']}</p>
                    
          </span>
        
            </span>
        
            <a href="{:url('ArticleUser/articleDetail')}?article_id={$value['article_id']}" class="viewmore" style='border-radius: 8px'><i class="fa fa-arrow-circle-right fa-lg"></i>&nbsp;阅读更多</a>

                </li>
                {/foreach}
                {/empty}
            </ul>
            <div class="pagelist">
                {$articles |raw}
            </div>
        </div>
    <!--bloglist end-->
</div>
{/block}
