{extend name="index/index" /}
{block name="main"}
<form class="form-horizontal" style="float: left;margin-left: 20%;margin-top:40px;width:400px;background: lightskyblue" id="site_info" data-id="{$siteInfo.site_id??''}">
    <h3 style="margin-top: 40px;font-size: 18px;text-align: center">网站配置信息</h3>
    <div class="form-group" style="margin-top: 30px;margin-left: -258px">
        <label for="inputEmail3" class="col-sm-6 control-label">网站标题</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="site_title" name="site_title" placeholder="请输入站点名"
                   value="{$siteInfo.site_title??''}">
        </div>
    </div>
    <div class="form-group" style="margin-left: -258px">
        <label for="inputPassword3" class="col-sm-6 control-label">网站描述</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="site_description" name="site_description" placeholder="请输入站点描述"
                   value="{$siteInfo.site_description??''}">
        </div>
    </div>
    <div class="form-group" style="margin-left: -258px">
        <label for="inputPassword3" class="col-sm-6 control-label">网站图标</label>
        <div class="col-sm-5">
            {empty name='siteInfo.site_image'} <span id="fail_msg" style="color: red">暂时没有设置</span> {else/}<img
                src="{$siteInfo.site_image??''}" alt=""
                style="width: 50px;height: 40px" id="preview_img">{/empty}
            <br><br>
            <button type="button" class="layui-btn" id="upload_img">
                <i class="layui-icon">&#xe67c;</i><span>上传图片</span>
            </button>
            <input type="hidden" name="site_image" value="{$siteInfo.site_image??''}" id="site_image">
        </div>
    </div>
    <div class="form-group" style="margin-left: -258px">
        <div class="col-sm-offset-7 col-sm-10">
            <button type="button" class="btn btn-default site_info">确认配置</button>
        </div>
    </div>
</form>

<form class="form-horizontal" style="float: left;margin-left: 200px;margin-top:40px;width:400px;background:lightgreen" id="blog_info" data-id="{$siteInfo.site_id??''}">
    <h3 style="margin-top: 40px;font-size: 18px;text-align: center">博主个人资料</h3>
    <div class="form-group" style="margin-top: 30px;margin-left: -258px">
        <label for="inputEmail3" class="col-sm-6 control-label">博客名</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="blog_name" name="blog_name" placeholder="请输入博客名"
                   value="{$siteInfo.blog_name??''}">
        </div>
    </div>
    <div class="form-group" style="margin-left: -258px">
        <label for="inputPassword3" class="col-sm-6 control-label">职业</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="blog_work" name="blog_work" placeholder="请输入职业"
                   value="{$siteInfo.blog_work??''}">
        </div>
    </div>
    <div class="form-group" style="margin-left: -258px">
        <label for="inputPassword3" class="col-sm-6 control-label">现居</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="blog_home" name="blog_home" placeholder="请输入现居地址"
                   value="{$siteInfo.blog_home??''}">
        </div>
    </div>
    <div class="form-group" style="margin-left: -258px">
        <label for="inputPassword3" class="col-sm-6 control-label">博客网址</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="blog_site" name="blog_site" placeholder="请输入博客网址"
                   value="{$siteInfo.blog_site??''}">
        </div>
    </div>
    <div class="form-group" style="margin-left: -258px">
        <div class="col-sm-offset-7 col-sm-10">
            <button type="button" class="btn btn-default blog_info">确认提交</button>
        </div>
    </div>
</form>
<script src="__ADMIN__/site/site.js"></script>
<script>
    site.prototype.init();
</script>
{/block}
