{include file='header' /}
<form action="" style="margin-left: 20px">
    <div class="layui-form-item" style="padding-top: 30px">
        <label class="layui-form-label bg-success  text-center" style="width: 100px">所属导航</label>
        <div class="layui-input-block" style="width: 160px;text-align: center">
            <select name="article_guide" lay-verify="required" id="article_guide">
                <option value="0">请选择导航</option>
                {foreach $navigations as $k => $v}
                <option value="{$v['nav_id']}">{$v['nav_name']}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label bg-success  text-center" style="width: 100px">文章标题</label>
        <div class="layui-input-block">
            <input type="text" name="article_title" lay-verify="title" autocomplete="off" placeholder="请输入标题"
                   class="form-control" style="width: 500px">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label bg-success  text-center" style="width: 100px">文章标签</label>
        <div style="margin-left: 111px"><input data-role='tags-input' value="php" style="color: red;"
                                               name="article_label"></div>

    </div>
    <div class="layui-form-item">
        <label class="layui-form-label bg-success  text-center" style="width: 100px">文章简介</label>
        <div class="layui-input-block" style="width: 500px;height: 200px">
            <textarea name="article_desc" id="" cols="30" rows="10"
                      style="border: 1px darkgrey solid;width: 500px;height: 200px;resize: none">请输入文章简介...</textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label bg-success  text-center" style="width: 100px">是否显示</label>
        <input type="checkbox" name="is_show" value="0" style="margin-left: 12px">
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label bg-success  text-center" style="width: 100px">点击量</label>
        <div class="layui-input-block">
            <input type="text" name="click_num" lay-verify="title" autocomplete="off" placeholder="" class="layui-input"
                   style="width: 60px;display: inline" value="1" maxlength="6">
            <button type="button" class="layui-btn layui-btn-xs"
                    style="display: inline;height: 36px;width: 30px;font-size: 20px" id="click_num">+
            </button>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label bg-success  text-center" style="width: 100px">是否置顶</label>
        <input type="checkbox" name="is_top_show" value="0">
    </div>
    <div class="layui-form-item click_img_btn">
        <label class="layui-form-label bg-success  text-center" style="width: 100px">文章封面</label>
        <div class="layui-input-block">
            <button type="button" class="layui-btn" id="upload_img">
                <i class="layui-icon">&#xe67c;</i><span>上传图片</span>
            </button>
            <input type="text"  placeholder="默认为文章内容的第一张图片哦" disabled style="width:170px;"/>
            <input type="hidden" name="article_img" value="" id="article_img">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label bg-success text-center" style="width: 100px">文章内容</label>
        <div class="layui-input-block">
            <div class="m">
                <div class="summernote" id="content">请输入文章内容...</div>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="button" class="btn-primary btn-sm" id="sub_article">立即添加</button>
        </div>
    </div>
</form>

<script src="__ADMIN__/article/article.js"></script>

<script>
    $(document).ready(function () {
        $('[data-role="tags-input"]').tagsInput();
    });
    articles.prototype.init();
</script>




